.car_image {
	margin-left: 15px;
}

.car_text {
	font-size: large;
	font-family: 'Courier New', Courier, monospace;
	margin-left: 20px;
}

.train_image {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 5px;
}

.train_text {
	font-size: large;
	font-family: 'Courier New', Courier, monospace;
	margin-left: 20px;
	margin-top: 20px;
}

.paint_image {
	margin-top: 20px;
	margin-left: 15px;
}

.paint_text {
	font-size: large;
	font-family: 'Courier New', Courier, monospace;
	margin-left: 20px;
	margin-top: 20px;
}
